<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/colores.css">
    <title>Portafolio Page</title>
  </head>

  <body>
    <div class="container">
      <nav>
        <ul>
          <li>
            <form action="/" method="GET">
              <button class="item-nav">Inicio</button>
            </form>            
          </li>
          <li>
            <form action="/Proyectos" method="GET">
              <button class="item-nav">Proyectos</button>
            </form>            
          </li>
          <li>
            <form action="/Contacto" method="GET">
              <button class="item-nav">Contacto</button>
            </form>            
          </li>          
        </ul>
      </nav>
      <Section>
        <h2>Sobre Mi</h2>
        <div class="contenido">
          <div class="izq">
            <div class="foto">
              <img src="~/img/perfil.png" alt="Foto Perfil">
            </div>
            <div class="texto">
              <h3>Rodrigo Ahumada</h3>
              <h4>Analista Programador Computacional</h4>
            </div>
          </div>
          <div class="der">
            <article>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sit, laborum similique placeat nam eum
                molestiae saepe perferendis, sed doloremque animi tempore ipsum architecto earum accusamus doloribus non
                necessitatibus dicta dolorum odit illum qui itaque modi. Nisi, porro. Corporis incidunt dolor praesentium
                magni corrupti, blanditiis eum amet unde obcaecati, commodi beatae perspiciatis enim expedita libero dolore,
                voluptatum iure nesciunt voluptates debitis.
              </p>
            </article>
          </div>
        </div>
        
      </Section>
    </div>



  </body>

</html>